* {
    margin: 20;
    padding:20;
}


p {
  color: blue;
}


.cafe-negrita {
    color: burlywood;
    font-weight: bold;
}

#secundario {
    background-color: #F2F2E6 ;
}

#principal {
    background-color: #212227;
}

#casual {
    background-color: #ff5926;
}
